<%inherit file="/base/index.html"/>

<%def name="title()">${c.section.title}</%def>
<%def name="heading()"><h1>${c.section.heading or c.section.title}</h1></%def>

${c.section.content}

<%def name="tags(available_tags)">
    <h2>Tags</h2>
    ${h.form_start(h.url_for(controller='section', action='update_tags', id=c.section.id), method='post')}
        ${h.field(
            "Tags",
            h.checkbox_group('tags', selected_values=None, align="table", options=available_tags)
        )}
        ${h.field(field=h.submit(value="Save Tags", name='submit'))}
    ${h.form_end()}
</%def>

<%!
    from formencode import htmlfill
    from webhelpers.html import literal
%>

% if c.available_tags:
${literal(htmlfill.render(capture(self.tags, c.available_tags), c.selected_tags))}
% endif

<%def name="footer()">
## Then add our section links
<p>
<a href="${h.url_for(controller='section', action='list')}">All Sections</a>
| <a href="${h.url_for(controller='section', action='new')}">New Section</a>
| <a href="${h.url_for(controller='section', action='edit',
      id=c.section.id)}">Edit Section</a>
| <a href="${h.url_for(controller='section', action='delete', 
      id=c.section.id)}">Delete Section</a>
</p>
## Comment links
<p>
  <a href="${h.url_for(sectionid=c.section.id, controller='comment', action='list')}">Comments (${str(c.comment_count)})</a>
| <a href="${h.url_for(sectionid=c.section.id, controller='comment', action='new')}">Add Comment</a>
</p>
## Tag links
<p><a href="${h.url_for(controller='tag', action='list')}">All Tags</a>
| <a href="${h.url_for(controller='tag', action='new')}">Add Tag</a></p>
## Include the parent footer too
${parent.footer()}
</%def>
